<div class="mb-8 border-b border-secondary">
    <div class="bg-primary text-white text-center p-2 uppercase tracking-wide">
        {% block heading %}{{ heading }}{% endblock %}
    </div>
    <div class="my-4">
        {% block content %}{% endblock %}
    </div>
</div>
