{# @param heading #}
{# @param headings - alternative to heading: Array 0:Singular, 1:Plural #}
{# @param query #}

{% set assets = query.all %}

{% if assets %}
    {% if headings is defined %}
        {% set heading = assets|length == 1 ? headings[0] : headings[1] %}
    {% endif %}

    {% x:widget { heading } %}

        {% for asset in assets %}
            <div class="my-4">
                <div class="font-semibold">
                    {{ asset.link }}
                </div>
                {% if asset.teaser %}
                    <div>
                        {{ asset.teaser }}
                    </div>
                {% endif %}
                <div class="font-sm">
                    {{ asset.extension }}, {{ asset.formattedSize(0) }}
                </div>
            </div>
        {% endfor %}

    {% endx:widget %}

{% endif %}
