<div class="bg-white my-10">
    <div class="flex p-4 justify-between">
        {% include '_partials/entry_author.twig' with {
            entry: entry
        } only %}

        {% include '_partials/entry_topics.twig' with {
            query: entry.topics.orderBy('title')
        } only %}
    </div>
</div>

