{% set baseTransform = 'featuredImage' %}
{% set srcsetSizes = ['576w','768w','1160w','2000w'] %}
{% set transforms = [baseTransform]|merge(srcsetSizes) %}
{% set image = null %}

{# 1. global_featured image contains asset query #}
{% if global_featuredImage is defined %}
    {% set image = global_featuredImage.withTransforms(transforms).one %}
{% endif %}

{# 2. Elements featuredImage is sset #}
{% if element and not image and element.featuredImage %}
    {% set image = element.featuredImage.withTransforms(transforms).one %}
{% endif -%}

{# 3. Fallback Image from siteInfo global #}
{% if not image %}
    {% set image = siteInfo.featuredImage.withTransforms(transforms).one %}
{% endif %}

{# Finally... #}
{% if image %}
    {% set heights = "h-32 sm:h-48 lg:h-64 xl:h-75" %}
    <header id="featured-image">
        {% if image.mimeType == 'image/svg+xml' %}
            <div>
                <img class="mx-auto {{ heights }}" src="{{ image.url }}" alt="">
            </div>
        {% else %}
            {% do image.setTransform(baseTransform) %}
            {{ tag('img', {
                class: "object-cover #{heights}",
                src: image.url,
                width: image.width,
                height: image.height,
                srcset: image.srcset(srcsetSizes),
                sizes: "100vw",
                alt: image.title
            }) }}
        {% endif %}
    </header>
{% endif %}
