<nav>
    {% cache globally %}
        {% set entries = siteNavigation.footerNavigation.all %}
        {% if entries %}
            <div class="flex flex-wrap justify-end space-x-4">
                {% for entry in entries %}
                    <a class="text-xs font-semibold uppercase" href="{{ entry.url }}">{{ entry.title }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endcache %}
</nav>

