{% set entry = element %}
{% set isCurrent = not (entry.isDraft or entry.isRevision) %}
{% set isDraft = entry.isDraft %}
{% set isUnsavedDraft = entry.isUnsavedDraft %}



{% if (isCurrent or isDraft) and not isUnsavedDraft %}

    {% set query = craft.entries.draftOf(entry.sourceId) %}

    {% if isDraft %}
        {% set query = query.id("not #{entry.id}") %}
    {% endif %}

    {% set drafts = query.all %}
    {% if drafts %}

        {% set textOne = 'msg_draftwarningone'|t('drafts') %}
        {% set textMultiple = 'msg_draftwarningmultiple'|t('drafts') %}

        <div class="readable">
            <blockquote class="note warning">

                <div class="flex flex-wrap">
                    <p>{{ 'msg_draftwarning'|t('drafts') }} {{ drafts|length == 1 ? textOne : textMultiple }}</p>
                    {% for draft in drafts %}
                        {{ tag('a', {
                            title: draft.draftName,
                            class: 'go',
                            style: 'max-width:300px;overflow:hidden;text-overflow: ellipsis;',
                            href:"#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                            text:  draft.draftName,
                        }) }}
                    {% endfor %}
                </div>
            </blockquote>
        </div>

    {% endif %}
{% endif %}



