<?php

namespace config;

class Env
{
    // This file is a replacement for the usual .env mechanism, avoiding some issues with thread safety on Windows10/Apache/mod_php
    // Like .env, it must not be committed to git.

    // replace getenv('VAR') with Var::VAR
    // For use in the Craft CP define aliases in config/general.php
    // like  '@SYSTEM_NAME' => Env::SYSTEM_NAME


    // Constants
    const ENVIRONMENT = 'dev';

    // https://randomkeygen.com/
    const SECURITY_KEY = 'fdjhkJKHBMNdfsabkjhwe87t6';

    const DB_DRIVER = 'mysql';
    const DB_SERVER = 'localhost';
    const DB_PORT = '3306';
    const DB_DATABASE = '';
    const DB_SCHEMA = ''; // Postgres only
    const DB_TABLEPREFIX = '';

    const DB_USER = 'root';
    const DB_PASSWORD = '';


    const SYSTEM_NAME = 'Starter';
    const DEFAULT_SITE_URL = 'http://localhost:8080';

    const EMAIL_ADDRESS = 'support@starter.local';
    const EMAIL_SENDER = 'Support Team';

    const SMTP_HOST = '';
    const SMTP_PASSWORD = '';
    const SMTP_PORT = '2525';
    const SMTP_USER = '';

    const GOOGLE_API_KEY = '';

    // const S3_BASE_URL = '';
    // const S3_ACCESS_KEY = '';
    // const S3_SECRET = '';
    // const S3_BUCKET = '';
    // const S3_REGION = '';
    // const S3_FOLDER = 'pool';
    // const CLOUDFRONT_BASE_URL = '';
    // const CLOUDFRONT_DISTRIBUTION_ID = '';
    // const CLOUDFRONT_PATH_PREFIX = '';


}
