{% extends "_globals.twig" %}
{% set element = element ?? entry ?? craft.app.urlManager.matchedElement %}
{% set global_localizedElements = element ? element.localized.all : [] %}
{% set global_title = global_title ?? (element ? element.title) %}
{% block html %}
<!doctype html>
<html lang="{{ currentSite.language }}">
<head>
    {% include '_layouts/partials/head.twig' %}

    {% include '_layouts/partials/icon.twig' %}

    {% include '_layouts/partials/assets.twig' %}

    <title>{{ global_title }} {% if  global_title %} | {{ global_siteName }}{% endif %}</title>

</head>

{% block body %}{% endblock %}

</html>

{% endblock %}
