{% set entry = element %}
{% set isCurrent = not (entry.isDraft or entry.isRevision) %}
{% set isDraft = entry.isDraft %}
{% set isUnsavedDraft = entry.isUnsavedDraft %}

{% if (isCurrent or isDraft) and not isUnsavedDraft %}

    {% set query = craft.entries.draftOf(entry.sourceId) %}

    {% if isDraft %}
        {% set query = query.id("not #{entry.id}") %}
    {% endif %}

    {% set drafts = query.all %}
    {% if drafts %}

        {% set textOne = 'msg_draftwarningone'|t('drafts') %}
        {% set textMultiple = 'msg_draftwarningmultiple'|t('drafts') %}

        <div class="readable width-100">
            <blockquote class="note warning">
                <span style="padding-right:12px">
                    {{ 'msg_draftwarning'|t('drafts') }} {{ drafts|length == 1 ? textOne : textMultiple }}
                </span>
                {% for draft in drafts %}
                    {{ tag('a', {
                        title: draft.draftName,
                        class: 'go',
                        style: 'max-width:300px;overflow:hidden;text-overflow: ellipsis;padding-right:12px',
                        href:"#{ draft.cpEditUrl }&draftId=#{ draft.draftId }",
                        text:  draft.draftName
                    }) }}
                {% endfor %}
            </blockquote>
        </div>

    {% endif %}
{% endif %}



